.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}

.verticalButton {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  border: 2px solid green; /* 緑のストロークで囲む */
  border-radius: 25px; /* まるい形状にする */
  background-color: transparent; /* 背景を透明にする */
  color: green; /* ボタンのテキストカラーを緑にする */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
