.buttonContainer {
  position: fixed;
  bottom: 40px;
  right: 16px;
  z-index: 10;

  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 8px;
  border-radius: 4px;

  display: flex;
  gap: 16px;
  flex-direction: column;
  cursor: pointer;
}

.icon {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  fill: #527c5d;
  transition: background-color 0.3s ease-in-out;
}

.iconSelected {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  fill: #fff;
  background-color: #527c5d;
  transition: background-color 0.3s ease-in-out;
}

.icon:hover {
  background-color: #527c5d;
  fill: #fff;
}
