.headerStyle {
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 1;
  background: hsl(0, 0%, 100%);
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.buttonContainer {
  display: flex;
  gap: 16px;
  align-items: center;
}

.button {
  border: 1px solid #527c5d;
  color: #527c5d;
  border-radius: 4px;
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #527c5d;
  color: #fff;
}
